.sidebar-menu {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 2px solid grey;
}

.sidebar-menu > li {
  padding: 12px;
}

.sidebar-section {
  border: 3px solid blue;
  flex: 1 1 auto;
}

